@import url("https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono&display=swap");
/* -------------------------------------------
VARIABLES
---------------------------------------------- */
/* -------------------------------------------
RESET
---------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Share Tech Mono", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* -------------------------------------------
Pokemon Card (Homepage)
---------------------------------------------- */
.pokemon {
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
.pokemon img {
  margin: auto;
}
.pokemon h2 {
  font-size: 1em;
  text-align: center;
}

/* -------------------------------------------
Pokemon Details Panel
---------------------------------------------- */
.details {
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
}
.details h1, .details h2 {
  background-color: darkslategrey;
  padding: 10px;
  color: white;
  font-weight: normal;
}
.details h1 {
  text-transform: uppercase;
}
.details .type {
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  color: white;
  font-variant: small-caps;
  font-size: 20px;
}
.details .profile-list .profile-title {
  font-weight: bold;
}
.details .normal {
  background-color: #a4acaf;
}
.details .fighting {
  background-color: #d56723;
}
.details .flying {
  background-color: #8e6feb;
}
.details .poison {
  background-color: #b97fc9;
}
.details .ground {
  background-color: #dbb54d;
}
.details .rock {
  background-color: #a38c21;
}
.details .bug {
  background-color: #729f3f;
}
.details .ghost {
  background-color: #7b62a3;
}
.details .steel {
  background-color: #9eb7b8;
}
.details .fire {
  background-color: #fd7d24;
}
.details .water {
  background-color: #4592c4;
}
.details .grass {
  background-color: #9bcc50;
}
.details .electric {
  background-color: #eed535;
}
.details .psychic {
  background-color: #f366b9;
}
.details .ice {
  background-color: #51c4e7;
}
.details .dragon {
  background-color: #5e1df7;
}
.details .dark {
  background-color: #707070;
}
.details .fairy {
  background-color: #fdb9e9;
}

/* -------------------------------------------
Pokemon Grid (Homepage)
---------------------------------------------- */
.grid-wrapper {
  margin: 0 auto;
  width: 70vw;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 10px;
}

/* -------------------------------------------
Pokemon Details Panel
---------------------------------------------- */
.details {
  margin: 0 auto;
  width: 30vw;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name    name" "sprite  types" "sprite  base-stats" "profile profile" "evo     evo";
  display: none;
}
.details .pk-name {
  grid-area: name;
}
.details .type-wrapper {
  grid-area: types;
}
.details .type-wrapper .type-list {
  padding: 0;
  display: flex;
}
.details .type-wrapper .type {
  margin-right: 5px;
}
.details .sprite {
  grid-area: sprite;
  justify-self: center;
  align-self: center;
}
.details .base-stats {
  grid-area: base-stats;
}
.details .profile {
  grid-area: profile;
}
.details .profile .profile-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "height    category" "weight    abilities";
}
.details .profile .profile-list .height {
  grid-area: height;
}
.details .profile .profile-list .weight {
  grid-area: weight;
}
.details .profile .profile-list .abilities {
  grid-area: abilities;
}
.details .profile .profile-list .category {
  grid-area: category;
}
.details .evolution {
  grid-area: evo;
}

/*# sourceMappingURL=main.css.map */
