@import url('https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech Mono', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 10px;
  background-color: pink;
}

.pokemon {
  border-radius: 10px;
  background-color: white;
}

.pokemon img {
  margin: auto;
}

.pokemon-info {

}